
$themes: (
    light: (
      bodyBackground: #FFFFFF,
      containerBgColor: #F3FAFF,
      cardBgColor: #F3FAFF,
      textColor: #3A3A3A,
      lightTextColor: #868686,
      infoText: #868686,
    ),
    dark: (
      bodyBackground: #262626,
      containerBgColor: #1a1b1b, 
      cardBgColor: #262626, 
      textColor: #FFFFFF,
      lightTextColor: #FFFFFF,
      infoText: #e6e6e6,
    ),
  );
  
  // Themify for themes
  @mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
      .#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
  
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key); 
  }
  